body {
    background-color: rgb(80, 80, 80);
    margin: 0px;
    padding: 0px;
    position: absolute;
}

section {
    padding: 0px;
    margin: 0px;
    position: absolute;
}

iframe { 
    background-color: white;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

